<!-- success -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <% if (success.length > 0) { %>
  <div
    id="successToast"
    class="toast show text-bg-success"
    role="alert"
    data-bs-delay="4000"
  >
    <!-- body -->
    <div class="toast-body"><%= success[0] %></div>
  </div>
  <% } %>
</div>

<!-- error -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <% if (error.length > 0) { %>
  <div
    id="successToast"
    class="toast show text-bg-danger"
    role="alert"
    data-bs-delay="4000"
    aria-live="assertive"
    aria-atomic="true"
  >
    <!-- body -->
    <div class="toast-body d-flex justify-content-start">
      <p class="text-white mb-0"><%= error[0] %></p>
    </div>
  </div>
  <% } %>
</div>
