<footer>
  <div
    class="footer d-flex flex-column justify-content-center align-items-center"
  >
    <div class="footer-icon fs-4 my-3">
      <a href=""
        ><i class="fa-brands fa-square-facebook text-black me-3"></i
      ></a>
      <a href=""
        ><i class="fa-brands fa-square-instagram text-black me-3"></i
      ></a>
      <a href=""
        ><i class="fa-brands fa-square-linkedin text-black me-3"></i
      ></a>
    </div>
    <div class="footer-copyrite text-white">
      <p class="text-black fw-semibold">&copy WanderLust Private Limited</p>
    </div>
    <div class="footer-privacyTerm">
      <p class="text-black fw-semibold">PrivacyTerms</p>
    </div>
  </div>
</footer>
