body {
  font-family: "Montserrat", sans-serif !important;
}

.navbar {
  height: 5rem;
}
.nav-link {
  color: #222222 !important;
}
/* icon */
.fa-compass {
  color: #ff385c;
  font-size: 2rem;
}

/* footer */
.footer {
  background-color: #ebebeb;
}

.card-text {
  font-size: 0.9rem;
}

.card-body :nth-of-type(2) {
  font-size: 0.85rem;
}

.card-img-overlay {
  opacity: 0;
  transition: 0.3s ease;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* .btn-primary {
  background-color: #000000 !important;
} */

/* show-page */

.show-img {
  height: 40vh;
}

.card-body p {
  margin-bottom: 0;
}
/* Error Page */
/* * {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.75);
} */
.landing-page {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0px 30px;
  background: #ddd;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 30px auto;
  transform: scale(0.8);
}
.landing-page {
  max-width: 960px;
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__download svg {
  width: 50%;
  max-height: 225px;
  height: auto;
  margin: 0 0 15px;
}
.landing-page h1 {
  font-size: 48px;
  margin: 0;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.75);
}
.landing-page p {
  font-size: 16px;
  width: 35%;
  margin: 16px auto 24px;

  text-align: center;

  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.75);
}
.landing-page a {
  text-decoration: none;
  border-radius: 50px;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  background: #ff385c;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 #ccc;
}

/* flash.ejs */
.danger-bg {
  background-color: rgb(228, 89, 103) !important ;
}

/* .custom-alert {
  background: rgba(255, 0, 25, 0.432);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #842029;
  border-left: 5px solid #dc3545;
} */

.custom-alert {
  background-color: #ffe5e5; /* light red */
  color: #842029; /* dark red text */
  border-left: 5px solid #dc3545;
  border-radius: 6px;
  font-weight: 500;
}

.bg-red-100 {
  background-color: #fdeaea;
}
.bg-red-300 {
  background-color: #f19999;
}
.bg-red-500 {
  background-color: #dc354681;
}
.text-red-500 {
  color: #dc354681;
}
.bg-red-700 {
  background-color: #b02a37;
}
.bg-red-900 {
  background-color: #58151c;
}

.text-red-500 {
  color: #dc3545;
}
.border-red-500 {
  border-color: #dc3546 !important;
}
