<% layout("/layouts/boilerplate") -%>

<div class="row my-5">
  <div class="col-6 offset-3">
    <h1 class="mb-3 text-nowrap">SignUp to Wanderlust</h1>
    <form method="POST" action="/signup" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="email" class="form-label m-0">Email</label>
        <input
          class="form-control"
          type="text"
          placeholder="abc@gmail.com"
          name="email"
          required
        />
        <!-- <div class="valid-feedback">Looks good!</div> -->
        <div class="invalid-feedback">Please enter Email.</div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label m-0">Username</label>
        <input
          class="form-control"
          type="text"
          placeholder="username"
          name="username"
          required
        />
        <!-- <div class="valid-feedback">Looks good!</div> -->
        <div class="invalid-feedback">Please enter username.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label m-0">Password</label>
        <input
          class="form-control"
          type="password"
          placeholder="password"
          name="password"
          required
        />
        <!-- <div class="valid-feedback">Looks good!</div> -->
        <div class="invalid-feedback">Please enter password.</div>
      </div>
      <button class="btn btn-success mt-2" id="liveToastBtn">SignUp</button>
    </form>
  </div>
</div>
